html {
  height: 100vh;
  // font-size: 1rem !important;
}

.MuiGrid2-root #logincol {
  height: 100vh !important;
  text-align: center;
}
.formLogin {
  height: auto;
  margin-top: 30vh;
  margin-bottom: 30vh;

  border-radius: 20px;
}
// #logincol {
//   background-color: red !important;
// }

// .form-control {
//   height: 50px !important;
//   font-size: 1rem !important;
// }
